* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
  padding: 20px;
}

main {
  background-color: #f5f5f5;
  height: 80vh;
  max-width: 80%;
  margin: 10vh auto;
  border-radius: 5px;
}

.dices {
  display: grid;
  grid-template-columns: repeat(5, 3rem);
}
